footer {
    
    text-align: center;
}
.legals {
    width: 100%;
}
.menu-item {
    list-style: none;

    &:hover {
        a {
            text-decoration: underline;
            color: white;
        }
    }
}