.header--btn--purple {
    background-color: #800080;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 15px 25px;
    font-weight: 700;
    border: 2px solid transparent;

    @include mobile {
        width: 339px;
    }
}

.header--btn--yellow {
    border: 2px solid #E4B743;
    background-color: #070707;
    color: #E4B743;
    border-radius: 30px;
    padding: 15px 25px;
    font-weight: 700;
}